/* Custom icons starts here */
.Ctm_icons { background: url('../images/Ctm_icons.png') no-repeat top left; display: inline-block;}
.Ctm_icons.StorefinderH { background-position: 0px 0px; width: 15px; height: 18px;  } 
.Ctm_icons.AccountH { background-position: 0px -28px; width: 18px; height: 18px;  } 
.Ctm_icons.Add-to-shortlistH { background-position: 0px -56px; width: 20px; height: 17px;  } 
.Ctm_icons.BasketH { background-position: 0px -83px; width: 19px; height: 18px;  } 
.Ctm_icons.SearchIconH { background-position: 0px -111px; width: 18px; height: 18px;  } 
.Ctm_icons.DownArrowHNav { background-position: 0px -139px; width: 10px; height: 6px;  } 
.Ctm_icons.RightArrowBC { background-position: 0px -155px; width: 6px; height: 10px;  } 
/*.Ctm_icons.Previous { background-position: 0px -175px; width: 8px; height: 12px;  } */
.Ctm_icons.PreviousBackListMap { background-position: 0px -175px; width: 8px; height: 12px;  } 
.Ctm_icons.ZoomPlusMSL { background-position: 0px -197px; width: 16px; height: 16px;  } 
.Ctm_icons.ZoomMinusMSL { background-position: 0px -223px; width: 16px; height: 16px;  } 
.Ctm_icons.ShowFBST { background-position: 0px -249px; width: 13px; height: 13px;  } 
.Ctm_icons.HideFBST { background-position: 0px -272px; width: 13px; height: 3px;  } 
.Ctm_icons.ToolTipClose { background-position: 0px -285px; width: 16px; height: 16px;  } 
.Ctm_icons.CurentLocationMRL { background-position: 0px -311px; width: 20px; height: 27px;  } 
.Ctm_icons.CurentLocationMRL2 { background-position: 0px -348px; width: 20px; height: 27px;  } 
.Ctm_icons.ShowMoreStore { background-position: 0px -385px; width: 16px; height: 10px;  } 
.Ctm_icons.ErrorSLM { background-position: 0px -405px; width: 19px; height: 16px;  } 
.Ctm_icons.ParkingSF-C { background-position: 0px -431px; width: 14px; height: 22px;  } 
.Ctm_icons.OK-SLSD-Contacts { background-position: 0px -463px; width: 18px; height: 14px;  } 
.Ctm_icons.GeekSF { background-position: 0px -487px; width: 43px; height: 25px;  } 
.Ctm_icons.InfoSB-Icon { background-position: 0px -522px; width: 16px; height: 16px;  } 
.Ctm_icons.InfoDB-Icon { background-position: 0px -548px; width: 16px; height: 16px;  } 
.Ctm_icons.InStocktick { background-position: 0px -574px; width: 15px; height: 12px;  } 
.Ctm_icons.Outstock { background-position: 0px -596px; width: 15px; height: 15px;  } 
.Ctm_icons.PhoneIcon_F { background-position: 0px -621px; width: 36px; height: 36px;  } 
.Ctm_icons.Info_F { background-position: 0px -667px; width: 22px; height: 22px;  } 
.Ctm_icons.PricePromiseBG { background-position: 0px -699px; width: 60px; height: 60px;  } 
.Ctm_icons.TradeInPromiseBG { background-position: 0px -769px; width: 61px; height: 61px;  } 
.Ctm_icons.ItPaysToCompare { background-position: 0px -840px; width: 30px; height: 30px;  } 
.Ctm_icons.PinPoint { background-position: 0px -880px; width: 18px; height: 30px;  } 
.Ctm_icons.FreeNextDD { background-position: 0px -920px; width: 30px; height: 23px;  } 
.Ctm_icons.TradeInPromise { background-position: 0px -953px; width: 19px; height: 29px;  }
.Ctm_icons.MenuH { background-position: 0px -992px; width: 15px; height: 15px;  } 
.Ctm_icons.SearchIconMH { background-position: 0px -1017px; width: 18px; height: 17px;  }
.Ctm_icons.acc_open { background-position: 0px -1044px; width: 10px; height: 6px;  } 
.Ctm_icons.acc_close { background-position: 0px -1060px; width: 6px; height: 10px;  } 
.Ctm_icons.secondory_acc_open { background-position: 0px -1080px; width: 11px; height: 7px;  } 
.Ctm_icons.secondory_acc_close { background-position: 0px -1097px; width: 7px; height: 11px;  }
.Ctm_icons.DropDownBtn { background-position: 0px -1118px; width: 14px; height: 10px;  } 
.Ctm_icons.ResetIcon { background-position: 0px -1138px; width: 16px; height: 13px;  } 
.Ctm_icons.DropDownBtnW { background-position: 0px -1161px; width: 14px; height: 10px;  }
.Ctm_icons.MegDrpDwnMnuUpArw { background-position: 0px -1181px; width: 23px; height: 14px;  } 
.Ctm_icons.closeMenu { background-position: 0px -1205px; width: 32px; height: 32px;  }
.Ctm_icons.CurentLocationMRLS1 { background-position: 0px -1247px; width: 32px; height: 43px;  } 
.Ctm_icons.social-icon-lft { background-position: 0px -1300px; width: 24px; height: 46px;  } 
.Ctm_icons.social-icon-rgt { background-position: 0px -1356px; width: 20px; height: 46px;  } 
.Ctm_icons.fb { background-position: 0px -1412px; width: 19px; height: 46px;  } 
.Ctm_icons.twitter { background-position: 0px -1468px; width: 27px; height: 46px;  } 
.Ctm_icons.youtube { background-position: 0px -1524px; width: 26px; height: 46px;  }
.Ctm_icons.DropDownBtn1 { background-position: 0px -1580px; width: 11px; height: 7px;  } 
.Ctm_icons.PhoneIcon_Fm { background-position: 0px -1597px; width: 14px; height: 14px;  } 
.Ctm_icons.PricePromiseBGMbl { background-position: 0px -1621px; width: 51px; height: 51px;  } 
.Ctm_icons.TradeInPromiseBGMob { background-position: 0px -1682px; width: 51px; height: 51px;  } 
.Ctm_icons.TradeInPromiseMob { background-position: 0px -1743px; width: 17px; height: 26px;  } 
.Ctm_icons.FreeNextDDMob { background-position: 0px -1779px; width: 27px; height: 22px;  } 
.Ctm_icons.PinPoint_Mb { background-position: 0px -1811px; width: 21px; height: 28px;  } 
.Ctm_icons.ItPaysToCompareMob { background-position: 0px -1849px; width: 26px; height: 27px;  }
.Ctm_icons.Info_FMob { background-position: 0px -1886px; width: 19px; height: 19px;  }
.Ctm_icons.pound { background-position: 0px -1915px; width: 15px; height: 28px;  } 
.Ctm_icons.DropUpBtn1 { background-position: 0px -1953px; width: 11px; height: 7px;  }
.Ctm_icons.RightArrowBCWhite { background-position: 0px -1970px; width: 6px; height: 9px;  }
.Ctm_icons.pound1 { background-position: 0px -1989px; width: 17px; height: 33px;  }
.Ctm_icons.pound2 { background-position: 0px -2032px; width: 12px; height: 23px;  } 
.Ctm_icons.findAStore { background-position: 0px -2065px; width: 13px; height: 17px;  } 
.Ctm_icons.SearchIconB { background-position: 0px -2092px; width: 36px; height: 36px;  } 
.Ctm_icons.file-icon { background-position: 0px -2138px; width: 34px; height: 25px;  } 
.Ctm_icons.chat-icon { background-position: 0px -2173px; width: 33px; height: 28px;  } 
.Ctm_icons.Qtn-icon { background-position: 0px -2211px; width: 34px; height: 34px;  }
.Ctm_icons.RightArrowBCGray { background-position: 0px -2255px; width: 5px; height: 8px;  }
.Ctm_icons.editGrayIcon{background-image: url(../icons/editGrayIcon.png);width:18px;height:18px; }
.Ctm_icons.removeGrayIcon{background-image: url(../icons/removeGrayIcon.png);width:15px;height:18px; }
.Ctm_icons.greenOkIcon{background-image: url(../icons/greenOkIcon.png);width:40px;height:40px; }
.Ctm_icons.closeIconGray{background-image: url(../icons/closeIconGray.png);width:37px;height:37px;}
.noIcon {

background: url(../images/no.png) no-repeat;
width: 16px;
height: 16px;
}
/* Custom icons ends here */

/* icons starts here */
.icons { background: url('../images/icons.png') no-repeat top left; display: inline-block;} 
.icons.Menu { background-position: 0px 0px; width: 22px; height: 22px;  } 
.icons.Plus-Open { background-position: 0px -32px; width: 21px; height: 21px;  } 
.icons.Minus-Close { background-position: 0px -63px; width: 22px; height: 5px;  } 
.icons.Previous { background-position: 0px -78px; width: 15px; height: 22px;  } 
.icons.Next { background-position: 0px -110px; width: 14px; height: 22px;  } 
.icons.Up { background-position: 0px -142px; width: 22px; height: 14px;  } 
.icons.Down { background-position: 0px -166px; width: 22px; height: 14px;  } 
.icons.Tick { background-position: 0px -190px; width: 22px; height: 17px;  } 
.icons.Close { background-position: 0px -217px; width: 22px; height: 22px;  } 
.icons.Close-2 { background-position: 0px -249px; width: 22px; height: 22px;  } 
.icons.Play { background-position: 0px -281px; width: 14px; height: 22px;  } 
.icons.Play-2 { background-position: 0px -313px; width: 22px; height: 22px;  } 
.icons.Pause { background-position: 0px -345px; width: 14px; height: 22px;  } 
.icons.Pause-2 { background-position: 0px -377px; width: 22px; height: 22px;  } 
.icons.Grid-view { background-position: 0px -409px; width: 22px; height: 22px;  } 
.icons.List-view { background-position: 0px -441px; width: 22px; height: 22px;  } 
.icons.Search { background-position: 0px -473px; width: 22px; height: 22px;  } 
.icons.Zoom-in { background-position: 0px -505px; width: 22px; height: 22px;  } 
.icons.Zoom-out { background-position: 0px -537px; width: 22px; height: 22px;  } 
.icons.Basket { background-position: 0px -569px; width: 22px; height: 22px;  } 
.icons.My-account { background-position: 0px -601px; width: 22px; height: 22px;  } 
.icons.Review { background-position: 0px -633px; width: 22px; height: 20px;  } 
.icons.Email { background-position: 0px -663px; width: 22px; height: 16px;  } 
.icons.Phone { background-position: 0px -689px; width: 21px; height: 20px;  } 
.icons.Star { background-position: 0px -719px; width: 22px; height: 22px;  } 
.icons.Addtoshotlist { background-position: 0px -751px; width: 21px; height: 18px;  } 
.icons.Share { background-position: 0px -779px; width: 23px; height: 22px;  } 
.icons.Click { background-position: 0px -811px; width: 18px; height: 22px;  } 
.icons.Delivery-Van { background-position: 0px -843px; width: 26px; height: 20px;  } 
.icons.Store-finder { background-position: 0px -873px; width: 18px; height: 22px;  } 
.icons.Current-location { background-position: 0px -905px; width: 16px; height: 22px;  } 
.icons.Mobile-phone { background-position: 0px -937px; width: 14px; height: 22px;  } 
.icons.Tablet { background-position: 0px -969px; width: 18px; height: 22px;  } 
.icons.Desktop { background-position: 0px -1001px; width: 22px; height: 18px;  } 
.icons.Upgrade { background-position: 0px -1029px; width: 22px; height: 22px;  } 
.icons.Return { background-position: 0px -1061px; width: 22px; height: 22px;  } 
.icons.Standard-SIM { background-position: 0px -1093px; width: 16px; height: 22px;  } 
.icons.Micro-SIM { background-position: 0px -1125px; width: 15px; height: 18px;  } 
.icons.Nano-SIM { background-position: 0px -1153px; width: 15px; height: 15px;  } 
.icons.Money { background-position: 0px -1178px; width: 22px; height: 22px;  } 
.icons.Bill { background-position: 0px -1210px; width: 14px; height: 22px;  } 
.icons.Reset { background-position: 0px -1242px; width: 23px; height: 20px;  } 
.icons.Change-Reset { background-position: 0px -1272px; width: 27px; height: 22px;  } 
.icons.Lock { background-position: 0px -1304px; width: 18px; height: 24px;  } 
.icons.Unlock { background-position: 0px -1338px; width: 24px; height: 24px;  } 
.icons.Print { background-position: 0px -1372px; width: 22px; height: 22px;  } 
.icons.Repair { background-position: 0px -1404px; width: 22px; height: 22px;  } 
.icons.Battery { background-position: 0px -1436px; width: 22px; height: 14px;  } 
.icons.Camera { background-position: 0px -1460px; width: 22px; height: 18px;  } 
.icons.Weight { background-position: 0px -1488px; width: 22px; height: 22px;  } 
.icons.Video { background-position: 0px -1520px; width: 22px; height: 18px;  } 
.icons.Processor { background-position: 0px -1548px; width: 24px; height: 24px;  } 
.icons.Screen-size { background-position: 0px -1582px; width: 22px; height: 22px;  } 
.icons.Help { background-position: 0px -1614px; width: 15px; height: 22px;  } 
.icons.Info { background-position: 0px -1646px; width: 10px; height: 22px;  } 
.icons.News { background-position: 0px -1678px; width: 22px; height: 19px;  } 
.icons.Graph-view { background-position: 0px -1707px; width: 22px; height: 22px;  } 
.icons.Graph-view-2 { background-position: 0px -1739px; width: 22px; height: 22px;  } 
.icons.Graph-view-3 { background-position: 0px -1771px; width: 22px; height: 22px;  } 
.icons.Chat { background-position: 0px -1803px; width: 27px; height: 22px;  } 
.icons.Reminder { background-position: 0px -1835px; width: 23px; height: 22px;  } 
.icons.Calculator { background-position: 0px -1867px; width: 18px; height: 22px;  } 
.icons.Document { background-position: 0px -1899px; width: 18px; height: 22px;  } 
.icons.Trophy { background-position: 0px -1931px; width: 22px; height: 22px;  } 
.icons.Viewer3D { background-position: 0px -1963px; width: 20px; height: 22px;  } 
.icons.Recommended { background-position: 0px -1995px; width: 27px; height: 28px;  } 
.icons.Music { background-position: 0px -2033px; width: 27px; height: 22px;  } 
.icons.Browse-online { background-position: 0px -2065px; width: 23px; height: 22px;  } 
.icons.Download { background-position: 0px -2097px; width: 22px; height: 22px;  } 
.icons.Insurance { background-position: 0px -2129px; width: 22px; height: 22px;  } 
.icons.Wifi { background-position: 0px -2161px; width: 23px; height: 20px;  } 
.icons.Yes { background-position: 0px -2191px; width: 22px; height: 22px;  } 
.icons.No { background-position: 0px -2223px; width: 22px; height: 22px;  } 
.icons.Trash-bin { background-position: 0px -2255px; width: 18px; height: 22px;  } 
.icons.Edit { background-position: 0px -2287px; width: 22px; height: 22px;  } 
.icons.Color-Fill-2 { background-position: 0px -2319px; width: 22px; height: 22px;  } 
.icons.Time-clock { background-position: 0px -2351px; width: 22px; height: 22px;  } 
.icons.Wearable-tech { background-position: 0px -2383px; width: 14px; height: 22px;  } 
.icons.Link-2 { background-position: 0px -2415px; width: 22px; height: 22px;  } 
.icons.Compare { background-position: 0px -2447px; width: 24px; height: 16px;  } 
.icons.Filter { background-position: 0px -2473px; width: 22px; height: 22px;  } 
.icons.Store { background-position: 0px -2505px; width: 22px; height: 20px;  } 
.icons.Phone-case { background-position: 0px -2535px; width: 14px; height: 22px;  } 
.icons.Screen-protector { background-position: 0px -2567px; width: 14px; height: 22px;  } 
.icons.In-car_hands-free { background-position: 0px -2599px; width: 26px; height: 19px;  } 
.icons.Memory-cards { background-position: 0px -2628px; width: 18px; height: 22px;  } 
.icons.USB-sticks { background-position: 0px -2660px; width: 14px; height: 22px;  } 
.icons.Chargers-cables { background-position: 0px -2692px; width: 22px; height: 22px;  } 
.icons.Bundle-Packs { background-position: 0px -2724px; width: 21px; height: 22px;  } 
.icons.Color-Fill-3 { background-position: 0px -2756px; width: 22px; height: 22px;  } 
.icons.Color-Fill-4 { background-position: 0px -2788px; width: 22px; height: 22px;  } 
.icons.MenuSG { background-position: 0px -2820px; width: 22px; height: 22px;  } 
.icons.Plus-OpenSG { background-position: 0px -2852px; width: 21px; height: 21px;  } 
.icons.Minus-CloseSG { background-position: 0px -2883px; width: 22px; height: 5px;  } 
.icons.PreviousSG { background-position: 0px -2898px; width: 15px; height: 22px;  } 
.icons.NextSG { background-position: 0px -2930px; width: 14px; height: 22px;  } 
.icons.UpSG { background-position: 0px -2962px; width: 22px; height: 14px;  } 
.icons.DownSG { background-position: 0px -2986px; width: 22px; height: 14px;  } 
.icons.TickSG { background-position: 0px -3010px; width: 22px; height: 17px;  } 
.icons.CloseSG { background-position: 0px -3037px; width: 22px; height: 22px;  } 
.icons.Close-2SG { background-position: 0px -3069px; width: 22px; height: 22px;  } 
.icons.PlaySG { background-position: 0px -3101px; width: 14px; height: 22px;  } 
.icons.Play-2SG { background-position: 0px -3133px; width: 22px; height: 22px;  } 
.icons.PauseSG { background-position: 0px -3165px; width: 14px; height: 22px;  } 
.icons.Pause-2SG { background-position: 0px -3197px; width: 22px; height: 22px;  } 
.icons.Grid-viewSG { background-position: 0px -3229px; width: 22px; height: 22px;  } 
.icons.List-viewSG { background-position: 0px -3261px; width: 22px; height: 22px;  } 
.icons.SearchSG { background-position: 0px -3293px; width: 22px; height: 22px;  } 
.icons.Zoom-inSG { background-position: 0px -3325px; width: 22px; height: 22px;  } 
.icons.Zoom-outSG { background-position: 0px -3357px; width: 22px; height: 22px;  } 
.icons.BasketSG { background-position: 0px -3389px; width: 22px; height: 22px;  } 
.icons.My-accountSG { background-position: 0px -3421px; width: 22px; height: 22px;  } 
.icons.ReviewSG { background-position: 0px -3453px; width: 22px; height: 20px;  } 
.icons.EmailSG { background-position: 0px -3483px; width: 22px; height: 16px;  } 
.icons.PhoneSG { background-position: 0px -3509px; width: 21px; height: 20px;  } 
.icons.StarSG { background-position: 0px -3539px; width: 22px; height: 22px;  } 
.icons.Add-to-shortlistSG { background-position: 0px -3571px; width: 21px; height: 18px;  } 
.icons.ShareSG { background-position: 0px -3599px; width: 23px; height: 22px;  } 
.icons.ClickSG { background-position: 0px -3631px; width: 18px; height: 22px;  } 
.icons.Delivery-vanSG { background-position: 0px -3663px; width: 26px; height: 20px;  } 
.icons.Store-finderSG { background-position: 0px -3693px; width: 18px; height: 22px;  } 
.icons.Current-locationSG { background-position: 0px -3725px; width: 16px; height: 22px;  } 
.icons.Mobile-phoneSG { background-position: 0px -3757px; width: 14px; height: 22px;  } 
.icons.TabletSG { background-position: 0px -3789px; width: 18px; height: 22px;  } 
.icons.DesktopSG { background-position: 0px -3821px; width: 22px; height: 18px;  } 
.icons.UpgradeSG { background-position: 0px -3849px; width: 22px; height: 22px;  } 
.icons.ReturnSG { background-position: 0px -3881px; width: 22px; height: 22px;  } 
.icons.Standard-SIMSG { background-position: 0px -3913px; width: 16px; height: 22px;  } 
.icons.Micro-SIMSG { background-position: 0px -3945px; width: 15px; height: 18px;  } 
.icons.Nano-SIMSG { background-position: 0px -3973px; width: 15px; height: 15px;  } 
.icons.MoneySG { background-position: 0px -3998px; width: 22px; height: 22px;  } 
.icons.BillSG { background-position: 0px -4030px; width: 14px; height: 22px;  } 
.icons.ResetSG { background-position: 0px -4062px; width: 23px; height: 20px;  } 
.icons.Change-ResetSG { background-position: 0px -4092px; width: 27px; height: 22px;  } 
.icons.LockSG { background-position: 0px -4124px; width: 18px; height: 24px;  } 
.icons.UnlockSG { background-position: 0px -4158px; width: 24px; height: 24px;  } 
.icons.PrintSG { background-position: 0px -4192px; width: 22px; height: 22px;  } 
.icons.RepairSG { background-position: 0px -4224px; width: 22px; height: 22px;  } 
.icons.BatterySG { background-position: 0px -4256px; width: 22px; height: 14px;  } 
.icons.CameraSG { background-position: 0px -4280px; width: 22px; height: 18px;  } 
.icons.WeightSG { background-position: 0px -4308px; width: 22px; height: 22px;  } 
.icons.VideoSG { background-position: 0px -4340px; width: 22px; height: 18px;  } 
.icons.ProcessorSG { background-position: 0px -4368px; width: 24px; height: 24px;  } 
.icons.Screen-sizeSG { background-position: 0px -4402px; width: 22px; height: 22px;  } 
.icons.HelpSG { background-position: 0px -4434px; width: 15px; height: 22px;  } 
.icons.InfoSG { background-position: 0px -4466px; width: 10px; height: 22px;  } 
.icons.NewsSG { background-position: 0px -4498px; width: 22px; height: 19px;  } 
.icons.Graph-viewSG { background-position: 0px -4527px; width: 22px; height: 22px;  } 
.icons.Graph-view-2SG { background-position: 0px -4559px; width: 22px; height: 22px;  } 
.icons.Graph-view-3SG { background-position: 0px -4591px; width: 22px; height: 22px;  } 
.icons.ChatSG { background-position: 0px -4623px; width: 27px; height: 22px;  } 
.icons.ReminderSG { background-position: 0px -4655px; width: 23px; height: 22px;  } 
.icons.CalculatorSG { background-position: 0px -4687px; width: 18px; height: 22px;  } 
.icons.DocumentSG { background-position: 0px -4719px; width: 18px; height: 22px;  } 
.icons.TrophySG { background-position: 0px -4751px; width: 22px; height: 22px;  } 
.icons.Viewer3D-SG { background-position: 0px -4783px; width: 20px; height: 22px;  } 
.icons.RecommendedSG { background-position: 0px -4815px; width: 27px; height: 28px;  } 
.icons.MusicSG { background-position: 0px -4853px; width: 27px; height: 22px;  } 
.icons.Browse-onlineSG { background-position: 0px -4885px; width: 23px; height: 22px;  } 
.icons.DownloadSG { background-position: 0px -4917px; width: 22px; height: 22px;  } 
.icons.InsuranceSG { background-position: 0px -4949px; width: 22px; height: 22px;  } 
.icons.WifiSG { background-position: 0px -4981px; width: 23px; height: 20px;  } 
.icons.YesSG { background-position: 0px -5011px; width: 22px; height: 22px;  } 
.icons.NoSG { background-position: 0px -5043px; width: 22px; height: 22px;  } 
.icons.Trash-binSG { background-position: 0px -5075px; width: 18px; height: 22px;  } 
.icons.EditSG { background-position: 0px -5107px; width: 22px; height: 22px;  } 
.icons.Color-Fill-2SG { background-position: 0px -5139px; width: 22px; height: 22px;  } 
.icons.Time-ClockSG { background-position: 0px -5171px; width: 22px; height: 22px;  } 
.icons.Wearable-techSG { background-position: 0px -5203px; width: 14px; height: 22px;  } 
.icons.Link-2SG { background-position: 0px -5235px; width: 22px; height: 22px;  } 
.icons.CompareSG { background-position: 0px -5267px; width: 24px; height: 16px;  } 
.icons.FilterSG { background-position: 0px -5293px; width: 22px; height: 22px;  } 
.icons.StoreSG { background-position: 0px -5325px; width: 22px; height: 20px;  } 
.icons.Phone-caseSG { background-position: 0px -5355px; width: 14px; height: 22px;  } 
.icons.Screen-protectorSG { background-position: 0px -5387px; width: 14px; height: 22px;  } 
.icons.In-car-hands-freeSG { background-position: 0px -5419px; width: 26px; height: 19px;  } 
.icons.Memory-cardsSG { background-position: 0px -5448px; width: 18px; height: 22px;  } 
.icons.USB-sticksSG { background-position: 0px -5480px; width: 14px; height: 22px;  } 
.icons.Chargers-cablesSG { background-position: 0px -5512px; width: 22px; height: 22px;  } 
.icons.Bundle-PacksSG { background-position: 0px -5544px; width: 21px; height: 22px;  } 
.icons.Color-Fill-3SG { background-position: 0px -5576px; width: 22px; height: 22px;  } 
.icons.Color-Fill-4SG { background-position: 0px -5608px; width: 22px; height: 22px;  } 
.icons.MenuG { background-position: 0px -5640px; width: 22px; height: 22px;  } 
.icons.Plus-OpenG { background-position: 0px -5672px; width: 21px; height: 21px;  } 
.icons.Minus-CloseG { background-position: 0px -5703px; width: 22px; height: 5px;  } 
.icons.PreviousG { background-position: 0px -5718px; width: 15px; height: 22px;  } 
.icons.NextG { background-position: 0px -5750px; width: 14px; height: 22px;  } 
.icons.UpG { background-position: 0px -5782px; width: 22px; height: 14px;  } 
.icons.DownG { background-position: 0px -5806px; width: 22px; height: 14px;  } 
.icons.TickG { background-position: 0px -5830px; width: 22px; height: 17px;  } 
.icons.CloseG { background-position: 0px -5857px; width: 22px; height: 22px;  } 
.icons.Close-2G { background-position: 0px -5889px; width: 22px; height: 22px;  } 
.icons.PlayG { background-position: 0px -5921px; width: 14px; height: 22px;  } 
.icons.Play-2G { background-position: 0px -5953px; width: 22px; height: 22px;  } 
.icons.PauseG { background-position: 0px -5985px; width: 14px; height: 22px;  } 
.icons.Pause-2G { background-position: 0px -6017px; width: 22px; height: 22px;  } 
.icons.Grid-viewG { background-position: 0px -6049px; width: 22px; height: 22px;  } 
.icons.List-viewG { background-position: 0px -6081px; width: 22px; height: 22px;  } 
.icons.SearchG { background-position: 0px -6113px; width: 22px; height: 22px;  } 
.icons.Zoom-inG { background-position: 0px -6145px; width: 22px; height: 22px;  } 
.icons.Zoom-outG { background-position: 0px -6177px; width: 22px; height: 22px;  } 
.icons.BasketG { background-position: 0px -6209px; width: 22px; height: 22px;  } 
.icons.My-accountG { background-position: 0px -6241px; width: 22px; height: 22px;  } 
.icons.ReviewG { background-position: 0px -6273px; width: 22px; height: 20px;  } 
.icons.EmailG { background-position: 0px -6303px; width: 22px; height: 16px;  } 
.icons.PhoneG { background-position: 0px -6329px; width: 21px; height: 20px;  } 
.icons.StarG { background-position: 0px -6359px; width: 22px; height: 22px;  } 
.icons.Add-to-shortlistG { background-position: 0px -6391px; width: 21px; height: 18px;  } 
.icons.ShareG { background-position: 0px -6419px; width: 23px; height: 22px;  } 
.icons.ClickG { background-position: 0px -6451px; width: 18px; height: 22px;  } 
.icons.Delivery-vanG { background-position: 0px -6483px; width: 26px; height: 20px;  } 
.icons.Store-finderG { background-position: 0px -6513px; width: 18px; height: 22px;  } 
.icons.Current-locationG { background-position: 0px -6545px; width: 16px; height: 22px;  } 
.icons.Mobile-phoneG { background-position: 0px -6577px; width: 14px; height: 22px;  } 
.icons.TabletG { background-position: 0px -6609px; width: 18px; height: 22px;  } 
.icons.DesktopG { background-position: 0px -6641px; width: 22px; height: 18px;  } 
.icons.UpgradeG { background-position: 0px -6669px; width: 22px; height: 22px;  } 
.icons.ReturnG { background-position: 0px -6701px; width: 22px; height: 22px;  } 
.icons.Standard-SIMG { background-position: 0px -6733px; width: 16px; height: 22px;  } 
.icons.Micro-SIMG { background-position: 0px -6765px; width: 15px; height: 18px;  } 
.icons.Nano-SIMG { background-position: 0px -6793px; width: 15px; height: 15px;  } 
.icons.MoneyG { background-position: 0px -6818px; width: 22px; height: 22px;  } 
.icons.BillG { background-position: 0px -6850px; width: 14px; height: 22px;  } 
.icons.ResetG { background-position: 0px -6882px; width: 23px; height: 20px;  } 
.icons.Change-ResetG { background-position: 0px -6912px; width: 27px; height: 22px;  } 
.icons.LockG { background-position: 0px -6944px; width: 18px; height: 24px;  } 
.icons.UnlockG { background-position: 0px -6978px; width: 24px; height: 24px;  } 
.icons.PrintG { background-position: 0px -7012px; width: 22px; height: 22px;  } 
.icons.RepairG { background-position: 0px -7044px; width: 22px; height: 22px;  } 
.icons.BatteryG { background-position: 0px -7076px; width: 22px; height: 14px;  } 
.icons.CameraG { background-position: 0px -7100px; width: 22px; height: 18px;  } 
.icons.WeightG { background-position: 0px -7128px; width: 22px; height: 22px;  } 
.icons.VideoG { background-position: 0px -7160px; width: 22px; height: 18px;  } 
.icons.ProcessorG { background-position: 0px -7188px; width: 24px; height: 24px;  } 
.icons.Screen-sizeG { background-position: 0px -7222px; width: 22px; height: 22px;  } 
.icons.HelpG { background-position: 0px -7254px; width: 15px; height: 22px;  } 
.icons.InfoG { background-position: 0px -7286px; width: 10px; height: 22px;  } 
.icons.NewsG { background-position: 0px -7318px; width: 22px; height: 19px;  } 
.icons.Graph-viewG { background-position: 0px -7347px; width: 22px; height: 22px;  } 
.icons.Graph-view-2G { background-position: 0px -7379px; width: 22px; height: 22px;  } 
.icons.Graph-view-3G { background-position: 0px -7411px; width: 22px; height: 22px;  } 
.icons.ChatG { background-position: 0px -7443px; width: 27px; height: 22px;  } 
.icons.ReminderG { background-position: 0px -7475px; width: 23px; height: 22px;  } 
.icons.CalculatorG { background-position: 0px -7507px; width: 18px; height: 22px;  } 
.icons.DocumentG { background-position: 0px -7539px; width: 18px; height: 22px;  } 
.icons.TrophyG { background-position: 0px -7571px; width: 22px; height: 22px;  } 
.icons.Viewer3D-G { background-position: 0px -7603px; width: 20px; height: 22px;  } 
.icons.RecommendedG { background-position: 0px -7635px; width: 27px; height: 28px;  } 
.icons.MusicG { background-position: 0px -7673px; width: 27px; height: 22px;  } 
.icons.Browse-onlineG { background-position: 0px -7705px; width: 23px; height: 22px;  } 
.icons.DownloadG { background-position: 0px -7737px; width: 22px; height: 22px;  } 
.icons.InsuranceG { background-position: 0px -7769px; width: 22px; height: 22px;  } 
.icons.WifiG { background-position: 0px -7801px; width: 23px; height: 20px;  } 
.icons.YesG { background-position: 0px -7831px; width: 22px; height: 22px;  } 
.icons.NoG { background-position: 0px -7863px; width: 22px; height: 22px;  } 
.icons.Trash-binG { background-position: 0px -7895px; width: 18px; height: 22px;  } 
.icons.EditG { background-position: 0px -7927px; width: 22px; height: 22px;  } 
.icons.Color-Fill-2G { background-position: 0px -7959px; width: 22px; height: 22px;  } 
.icons.Time-ClockG { background-position: 0px -7991px; width: 22px; height: 22px;  } 
.icons.Wearable-techG { background-position: 0px -8023px; width: 14px; height: 22px;  } 
.icons.Link-2G { background-position: 0px -8055px; width: 22px; height: 22px;  } 
.icons.CompareG { background-position: 0px -8087px; width: 24px; height: 16px;  } 
.icons.FilterG { background-position: 0px -8113px; width: 22px; height: 22px;  } 
.icons.StoreG { background-position: 0px -8145px; width: 22px; height: 20px;  } 
.icons.Phone-caseG { background-position: 0px -8175px; width: 14px; height: 22px;  } 
.icons.Screen-protectorG { background-position: 0px -8207px; width: 14px; height: 22px;  } 
.icons.In-car_hands-freeG { background-position: 0px -8239px; width: 26px; height: 19px;  } 
.icons.Memory-cardsG { background-position: 0px -8268px; width: 18px; height: 22px;  } 
.icons.USB-sticksG { background-position: 0px -8300px; width: 14px; height: 22px;  } 
.icons.Chargers-cablesG { background-position: 0px -8332px; width: 22px; height: 22px;  } 
.icons.Bundle-PacksG { background-position: 0px -8364px; width: 21px; height: 22px;  } 
.icons.Color-Fill-3G { background-position: 0px -8396px; width: 22px; height: 22px;  } 
.icons.Color-Fill-4G { background-position: 0px -8428px; width: 22px; height: 22px;  } 
.icons.MenuGL { background-position: 0px -8460px; width: 22px; height: 22px;  } 
.icons.Plus-OpenGL { background-position: 0px -8492px; width: 21px; height: 21px;  } 
.icons.Minus-CloseGL { background-position: 0px -8523px; width: 22px; height: 5px;  } 
.icons.PreviousGL { background-position: 0px -8538px; width: 15px; height: 22px;  } 
.icons.NextGL { background-position: 0px -8570px; width: 14px; height: 22px;  } 
.icons.UpGL { background-position: 0px -8602px; width: 22px; height: 14px;  } 
.icons.DownGL { background-position: 0px -8626px; width: 22px; height: 14px;  } 
.icons.TickGL { background-position: 0px -8650px; width: 22px; height: 17px;  } 
.icons.CloseGL { background-position: 0px -8677px; width: 22px; height: 22px;  } 
.icons.Close-2GL { background-position: 0px -8709px; width: 22px; height: 22px;  } 
.icons.PlayGL { background-position: 0px -8741px; width: 14px; height: 22px;  } 
.icons.Play-2GL { background-position: 0px -8773px; width: 22px; height: 22px;  } 
.icons.PauseGL { background-position: 0px -8805px; width: 14px; height: 22px;  } 
.icons.Pause-2GL { background-position: 0px -8837px; width: 22px; height: 22px;  } 
.icons.Grid-viewGL { background-position: 0px -8869px; width: 22px; height: 22px;  } 
.icons.List-viewGL { background-position: 0px -8901px; width: 22px; height: 22px;  } 
.icons.SearchGL { background-position: 0px -8933px; width: 22px; height: 22px;  } 
.icons.Zoom-inGL { background-position: 0px -8965px; width: 22px; height: 22px;  } 
.icons.Zoom-outGL { background-position: 0px -8997px; width: 22px; height: 22px;  } 
.icons.BasketGL { background-position: 0px -9029px; width: 22px; height: 22px;  } 
.icons.My-accountGL { background-position: 0px -9061px; width: 22px; height: 22px;  } 
.icons.ReviewGL { background-position: 0px -9093px; width: 22px; height: 20px;  } 
.icons.EmailGL { background-position: 0px -9123px; width: 22px; height: 16px;  } 
.icons.PhoneGL { background-position: 0px -9149px; width: 21px; height: 20px;  } 
.icons.StarGL { background-position: 0px -9179px; width: 22px; height: 22px;  } 
.icons.Add-to-shortlistGL { background-position: 0px -9211px; width: 21px; height: 18px;  } 
.icons.ShareGL { background-position: 0px -9239px; width: 23px; height: 22px;  } 
.icons.ClickGL { background-position: 0px -9271px; width: 18px; height: 22px;  } 
.icons.Delivery-vanGL { background-position: 0px -9303px; width: 26px; height: 20px;  } 
.icons.Store-finderGL { background-position: 0px -9333px; width: 18px; height: 22px;  } 
.icons.Current-locationGL { background-position: 0px -9365px; width: 16px; height: 22px;  } 
.icons.Mobile-phoneGL { background-position: 0px -9397px; width: 14px; height: 22px;  } 
.icons.TabletGL { background-position: 0px -9429px; width: 18px; height: 22px;  } 
.icons.DesktopGL { background-position: 0px -9461px; width: 22px; height: 18px;  } 
.icons.UpgradeGL { background-position: 0px -9489px; width: 22px; height: 22px;  } 
.icons.ReturnGL { background-position: 0px -9521px; width: 22px; height: 22px;  } 
.icons.Standard-SIMGL { background-position: 0px -9553px; width: 16px; height: 22px;  } 
.icons.Micro-SIMGL { background-position: 0px -9585px; width: 15px; height: 18px;  } 
.icons.Nano-SIMGL { background-position: 0px -9613px; width: 15px; height: 15px;  } 
.icons.MoneyGL { background-position: 0px -9638px; width: 22px; height: 22px;  } 
.icons.BillGL { background-position: 0px -9670px; width: 14px; height: 22px;  } 
.icons.ResetGL { background-position: 0px -9702px; width: 23px; height: 20px;  } 
.icons.Change-ResetGL { background-position: 0px -9732px; width: 27px; height: 22px;  } 
.icons.LockGL { background-position: 0px -9764px; width: 18px; height: 24px;  } 
.icons.UnlockGL { background-position: 0px -9798px; width: 24px; height: 24px;  } 
.icons.PrintGL { background-position: 0px -9832px; width: 22px; height: 22px;  } 
.icons.RepairGL { background-position: 0px -9864px; width: 22px; height: 22px;  } 
.icons.BatteryGL { background-position: 0px -9896px; width: 22px; height: 14px;  } 
.icons.CameraGL { background-position: 0px -9920px; width: 22px; height: 18px;  } 
.icons.WeightGL { background-position: 0px -9948px; width: 22px; height: 22px;  } 
.icons.VideoGL { background-position: 0px -9980px; width: 22px; height: 18px;  } 
.icons.ProcessorGL { background-position: 0px -10008px; width: 24px; height: 24px;  } 
.icons.Screen-sizeGL { background-position: 0px -10042px; width: 22px; height: 22px;  } 
.icons.HelpGL { background-position: 0px -10074px; width: 15px; height: 22px;  } 
.icons.InfoGL { background-position: 0px -10106px; width: 10px; height: 22px;  } 
.icons.NewsGL { background-position: 0px -10138px; width: 22px; height: 19px;  } 
.icons.Graph-viewGL { background-position: 0px -10167px; width: 22px; height: 22px;  } 
.icons.Graph-view-2GL { background-position: 0px -10199px; width: 22px; height: 22px;  } 
.icons.Graph-view-3GL { background-position: 0px -10231px; width: 22px; height: 22px;  } 
.icons.ChatGL { background-position: 0px -10263px; width: 27px; height: 22px;  } 
.icons.ReminderGL { background-position: 0px -10295px; width: 23px; height: 22px;  } 
.icons.CalculatorGL { background-position: 0px -10327px; width: 18px; height: 22px;  } 
.icons.DocumentGL { background-position: 0px -10359px; width: 18px; height: 22px;  } 
.icons.TrophyGL { background-position: 0px -10391px; width: 22px; height: 22px;  } 
.icons.Viewer3D-GL { background-position: 0px -10423px; width: 20px; height: 22px;  } 
.icons.RecommendedGL { background-position: 0px -10455px; width: 27px; height: 28px;  } 
.icons.MusicGL { background-position: 0px -10493px; width: 27px; height: 22px;  } 
.icons.Browse-onlineGL { background-position: 0px -10525px; width: 23px; height: 22px;  } 
.icons.DownloadGL { background-position: 0px -10557px; width: 22px; height: 22px;  } 
.icons.InsuranceGL { background-position: 0px -10589px; width: 22px; height: 22px;  } 
.icons.WifiGL { background-position: 0px -10621px; width: 23px; height: 20px;  } 
.icons.YesGL { background-position: 0px -10651px; width: 22px; height: 22px;  } 
.icons.NoGL { background-position: 0px -10683px; width: 22px; height: 22px;  } 
.icons.Trash-binGL { background-position: 0px -10715px; width: 18px; height: 22px;  } 
.icons.EditGL { background-position: 0px -10747px; width: 22px; height: 22px;  } 
.icons.Color-Fill-2GL { background-position: 0px -10779px; width: 22px; height: 22px;  } 
.icons.Time-ClockGL { background-position: 0px -10811px; width: 22px; height: 22px;  } 
.icons.Wearable-techGL { background-position: 0px -10843px; width: 14px; height: 22px;  } 
.icons.Link-2GL { background-position: 0px -10875px; width: 22px; height: 22px;  } 
.icons.CompareGL { background-position: 0px -10907px; width: 24px; height: 16px;  } 
.icons.FilterGL { background-position: 0px -10933px; width: 22px; height: 22px;  } 
.icons.StoreGL { background-position: 0px -10965px; width: 22px; height: 20px;  } 
.icons.Phone-caseGL { background-position: 0px -10995px; width: 14px; height: 22px;  } 
.icons.Screen-protectorGL { background-position: 0px -11027px; width: 14px; height: 22px;  } 
.icons.In-car_hands-freeGL { background-position: 0px -11059px; width: 26px; height: 19px;  } 
.icons.Memory-cardsGL { background-position: 0px -11088px; width: 18px; height: 22px;  } 
.icons.USB-sticksGL { background-position: 0px -11120px; width: 14px; height: 22px;  } 
.icons.Chargers-cablesGL { background-position: 0px -11152px; width: 22px; height: 22px;  } 
.icons.Bundle-PacksGL { background-position: 0px -11184px; width: 21px; height: 22px;  } 
.icons.Color-Fill-3GL { background-position: 0px -11216px; width: 22px; height: 22px;  } 
.icons.Color-Fill-4GL { background-position: 0px -11248px; width: 22px; height: 22px;  } 
.icons.RTB-Free-deliveryW { background-position: 0px -11280px; width: 40px; height: 31px;  } 
.icons.RTB-Pin-PointW { background-position: 0px -11321px; width: 25px; height: 40px;  } 
.icons.RTB-Color-Fill-1W { background-position: 0px -11371px; width: 40px; height: 41px;  } 
.icons.RTB-Price-promiseW { background-position: 0px -11422px; width: 26px; height: 40px;  } 
.icons.RTB-Trade-in-promiseW { background-position: 0px -11472px; width: 26px; height: 40px;  } 
.icons.LIWeightW { background-position: 0px -11522px; width: 30px; height: 32px;  } 
.icons.LI-SCREEN-SIZEW { background-position: 0px -11564px; width: 22px; height: 34px;  } 
.icons.LI-CameraW { background-position: 0px -11608px; width: 34px; height: 25px;  } 
.icons.LI-VIDEOW { background-position: 0px -11643px; width: 34px; height: 24px;  } 
.icons.LI-TALK-TIMEW { background-position: 0px -11677px; width: 27px; height: 36px;  } 
.icons.LI-Battery-lifeW { background-position: 0px -11723px; width: 34px; height: 18px;  } 
.icons.LI-CPUW { background-position: 0px -11751px; width: 30px; height: 30px;  } 
.icons.LI-GRAPHW { background-position: 0px -11791px; width: 27px; height: 27px;  } 
.icons.MenuW { background-position: 0px -11828px; width: 22px; height: 22px;  } 
.icons.Plus-OpenW { background-position: 0px -11860px; width: 21px; height: 21px;  } 
.icons.Minus-CloseW { background-position: 0px -11891px; width: 22px; height: 5px;  } 
.icons.PreviousW { background-position: 0px -11906px; width: 15px; height: 22px;  } 
.icons.NextW { background-position: 0px -11938px; width: 14px; height: 22px;  } 
.icons.UpW { background-position: 0px -11970px; width: 22px; height: 14px;  } 
.icons.DownW { background-position: 0px -11994px; width: 22px; height: 14px;  } 
.icons.TickW { background-position: 0px -12018px; width: 22px; height: 17px;  } 
.icons.CloseW { background-position: 0px -12045px; width: 22px; height: 22px;  } 
.icons.Close-2W { background-position: 0px -12077px; width: 22px; height: 22px;  } 
.icons.PlayW { background-position: 0px -12109px; width: 14px; height: 22px;  } 
.icons.Play-2W { background-position: 0px -12141px; width: 22px; height: 22px;  } 
.icons.PauseW { background-position: 0px -12173px; width: 14px; height: 22px;  } 
.icons.Pause-2W { background-position: 0px -12205px; width: 22px; height: 22px;  } 
.icons.Grid-viewW { background-position: 0px -12237px; width: 22px; height: 22px;  } 
.icons.List-viewW { background-position: 0px -12269px; width: 22px; height: 22px;  } 
.icons.SearchW { background-position: 0px -12301px; width: 22px; height: 22px;  } 
.icons.Zoom-inW { background-position: 0px -12333px; width: 22px; height: 22px;  } 
.icons.Zoom-outW { background-position: 0px -12365px; width: 22px; height: 22px;  } 
.icons.BasketW { background-position: 0px -12397px; width: 22px; height: 22px;  } 
.icons.My-accountW { background-position: 0px -12429px; width: 22px; height: 22px;  } 
.icons.ReviewW { background-position: 0px -12461px; width: 22px; height: 20px;  } 
.icons.EmailW { background-position: 0px -12491px; width: 22px; height: 16px;  } 
.icons.PhoneW { background-position: 0px -12517px; width: 21px; height: 20px;  } 
.icons.StarW { background-position: 0px -12547px; width: 22px; height: 22px;  } 
.icons.Add-to-shortlistW { background-position: 0px -12579px; width: 21px; height: 18px;  } 
.icons.ShareW { background-position: 0px -12607px; width: 23px; height: 22px;  } 
.icons.ClickW { background-position: 0px -12639px; width: 18px; height: 22px;  } 
.icons.Delivery-vanW { background-position: 0px -12671px; width: 26px; height: 20px;  } 
.icons.Store-finderW { background-position: 0px -12701px; width: 18px; height: 22px;  } 
.icons.Current-locationW { background-position: 0px -12733px; width: 16px; height: 22px;  } 
.icons.Mobile-phoneW { background-position: 0px -12765px; width: 14px; height: 22px;  } 
.icons.TabletW { background-position: 0px -12797px; width: 18px; height: 22px;  } 
.icons.DesktopW { background-position: 0px -12829px; width: 22px; height: 18px;  } 
.icons.UpgradeW { background-position: 0px -12857px; width: 22px; height: 22px;  } 
.icons.ReturnW { background-position: 0px -12889px; width: 22px; height: 22px;  } 
.icons.Standard-SIMW { background-position: 0px -12921px; width: 16px; height: 22px;  } 
.icons.Micro-SIMW { background-position: 0px -12953px; width: 15px; height: 18px;  } 
.icons.Nano-SIMW { background-position: 0px -12981px; width: 15px; height: 15px;  } 
.icons.MoneyW { background-position: 0px -13006px; width: 22px; height: 22px;  } 
.icons.BillW { background-position: 0px -13038px; width: 14px; height: 22px;  } 
.icons.ResetW { background-position: 0px -13070px; width: 23px; height: 20px;  } 
.icons.Change-ResetW { background-position: 0px -13100px; width: 27px; height: 22px;  } 
.icons.LockW { background-position: 0px -13132px; width: 18px; height: 24px;  } 
.icons.UnlockW { background-position: 0px -13166px; width: 24px; height: 24px;  } 
.icons.PrintW { background-position: 0px -13200px; width: 22px; height: 22px;  } 
.icons.RepairW { background-position: 0px -13232px; width: 22px; height: 22px;  } 
.icons.BatteryW { background-position: 0px -13264px; width: 22px; height: 14px;  } 
.icons.CameraW { background-position: 0px -13288px; width: 22px; height: 18px;  } 
.icons.WeightW { background-position: 0px -13316px; width: 22px; height: 22px;  } 
.icons.VideoW { background-position: 0px -13348px; width: 22px; height: 18px;  } 
.icons.ProcessorW { background-position: 0px -13376px; width: 24px; height: 24px;  } 
.icons.Screen-sizeW { background-position: 0px -13410px; width: 22px; height: 22px;  } 
.icons.HelpW { background-position: 0px -13442px; width: 15px; height: 22px;  } 
.icons.InfoW { background-position: 0px -13474px; width: 10px; height: 22px;  } 
.icons.NewsW { background-position: 0px -13506px; width: 22px; height: 19px;  } 
.icons.Graph-viewW { background-position: 0px -13535px; width: 22px; height: 22px;  } 
.icons.Graph-view-2W { background-position: 0px -13567px; width: 22px; height: 22px;  } 
.icons.Graph-view-3W { background-position: 0px -13599px; width: 22px; height: 22px;  } 
.icons.ChatW { background-position: 0px -13631px; width: 27px; height: 22px;  } 
.icons.ReminderW { background-position: 0px -13663px; width: 23px; height: 22px;  } 
.icons.CalculatorW { background-position: 0px -13695px; width: 18px; height: 22px;  } 
.icons.DocumentW { background-position: 0px -13727px; width: 18px; height: 22px;  } 
.icons.TrophyW { background-position: 0px -13759px; width: 22px; height: 22px;  } 
.icons.Viewer3D-W { background-position: 0px -13791px; width: 20px; height: 22px;  } 
.icons.RecommendedW { background-position: 0px -13823px; width: 27px; height: 28px;  } 
.icons.MusicW { background-position: 0px -13861px; width: 27px; height: 22px;  } 
.icons.Browse-onlineW { background-position: 0px -13893px; width: 23px; height: 22px;  } 
.icons.DownloadW { background-position: 0px -13925px; width: 22px; height: 22px;  } 
.icons.InsuranceW { background-position: 0px -13957px; width: 22px; height: 22px;  } 
.icons.WifiW { background-position: 0px -13989px; width: 23px; height: 20px;  } 
.icons.YesW { background-position: 0px -14019px; width: 22px; height: 22px;  } 
.icons.NoW { background-position: 0px -14051px; width: 22px; height: 22px;  } 
.icons.Trash-binW { background-position: 0px -14083px; width: 18px; height: 22px;  } 
.icons.EditW { background-position: 0px -14115px; width: 22px; height: 22px;  } 
.icons.Color-Fill-2W { background-position: 0px -14147px; width: 22px; height: 22px;  } 
.icons.Time-ClockW { background-position: 0px -14179px; width: 22px; height: 22px;  } 
.icons.Wearable-techW { background-position: 0px -14211px; width: 14px; height: 22px;  } 
.icons.Link-2W { background-position: 0px -14243px; width: 22px; height: 22px;  } 
.icons.CompareW { background-position: 0px -14275px; width: 24px; height: 16px;  } 
.icons.FilterW { background-position: 0px -14301px; width: 22px; height: 22px;  } 
.icons.StoreW { background-position: 0px -14333px; width: 22px; height: 20px;  } 
.icons.Phone-caseW { background-position: 0px -14363px; width: 14px; height: 22px;  } 
.icons.Screen-protectorW { background-position: 0px -14395px; width: 14px; height: 22px;  } 
.icons.In-car_hands-freeW { background-position: 0px -14427px; width: 26px; height: 19px;  } 
.icons.Memory-cardsW { background-position: 0px -14456px; width: 18px; height: 22px;  } 
.icons.USB-sticksW { background-position: 0px -14488px; width: 14px; height: 22px;  } 
.icons.Chargers-cablesW { background-position: 0px -14520px; width: 22px; height: 22px;  } 
.icons.Bundle-PacksW { background-position: 0px -14552px; width: 21px; height: 22px;  } 
.icons.Color-Fill-3W { background-position: 0px -14584px; width: 22px; height: 22px;  } 
.icons.Color-Fill-4W { background-position: 0px -14616px; width: 22px; height: 22px;  }
.Ctm_icons.right10,.icons.right10{margin-right:10px;}
.Ctm_icons.left10,.icons.left10{margin-left:10px;}

@media only screen and (min-width: 320px) and (max-width:1023px) {
.Ctm_icons.greenOkIcon-xs{background-image: url(../icons/greenOkIcon.png);width:26px;height:26px;background-size: 100%; }
}